 <div class='nested-fields'>
    <div class="field">
      <%= f.label :text %>
      <%= f.text_area :text, cols:"30", rows:"5" %>
    </div>
    <%= link_to_remove_association "remove description", f %>
  </div>