 <div class='nested-fields'>
    <div class="name-field">
      <%= f.text_field :name, class: "name-form" %>
    </div>
    <div class="quantity-field">
      <%= f.text_field :quantity, class: "quantity-form" %>
    </div>
    <%= link_to_remove_association "削除", f %>
  </div>