/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.notifications {
  color: black;
  text-align: center;
}  

.notice-message {
  background-color: rgba(150, 234, 168, 0.5);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

.alert-message {
  background-color: rgba(255,0,0,0.5);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

.navbar{
  height: 60px;
  width: 100%;
  background-color: white;
  padding: 0 10px;
}

.navbar-collapse{
  height: 80px;
  width: 100%;
}

.card-container-body{
  height: auto;
  width: 160px;
  margin-left: auto;
  margin-top: 5px;
  padding: 20px;
  background-color: white;
}

.without-border{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.new-recipe-box{
  height: 80%;
  width: 150px;
  margin-right: 50px;
  background-color: #6D9133;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-recipe-box-a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 15px;
}

.text-right{
  height: 100%;
  display: flex;
  align-items: center;
}

.header-mypage{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.header-user-image{
  margin-right: 20px;
}

.header-myfolder{
  margin-right: 20px;
  height: 80%;
  width: 150px;
  background-color: #e0dbc8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-shopping-list{
  margin-right: 20px;
  height: 80%;
  width: 150px;
  background-color: #e0dbc8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myfolder-a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.shopping-list-a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.cart-image{
  height: 30px;
  width: 30px;
}

.recipe-book-image{
  height: 30px;
  width: 30px;
}