.lists-container{
  margin-top: 60px;
  height: calc(100vh - 60px);
  background-color: rgba(248, 245, 227, 1);
}

.lists-box{
  width: 500px;
  height: calc(100vh - 140px);
  overflow: scroll;
}

.list-box{
  height: 50px;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.list-data{
  display: none;
}

.list-left{
  display: flex;
  width: 300px;
}

.list-right{
  width: 300px;
}