/*-----------------------------------------------------------------
レシピ一覧画面
------------------------------------------------------------------*/
.recipe-index-container{
  height: 2000px;
  width: 100vw;
  display: flex;
}
.recipe-index-left{
  width: calc((100vw - 700px)/2);
}
.recipe-index-center{
  background-color: antiquewhite;
  width: 700px;
  display: flex;
  flex-direction: column;
}

.recipe-index-right{
  width: calc((100vw - 700px)/2);
}

.recipe-box{
  display: flex;
  height: 200px;
  width: 100%;
}

.recipe-box-left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-box-right{
  width: 50%;
  padding-top: 30px;
  padding-right: 5px;
}

.recipe-image{
  height: 200px;
  width:200px;
  object-fit: cover;
  border-radius: 30px;
  /* filter: brightness(130%);
  filter: saturate(150%);
  filter: opacity(90%); */
}
.bold{
  font-weight: 800;
  color: black;
}
.recipe-title{
  text-decoration: none;
  color: rgb(238, 121, 75);
  font-weight: 600;
  font-size: 30px;
}

/*-----------------------------------------------------------------
レシピ詳細画面
------------------------------------------------------------------*/
.show-recipe-image{
  height: 350px;
  width:400px;
  object-fit: cover;
  border-radius: 40px;
}
/*-----------------------------------------------------------------
レシピ詳細とレシピ編集で共有したい部分
------------------------------------------------------------------*/
.recipe-container{
  height: 2000px;
  width: 100vw;
  display: flex;
}

.recipe-left{
  width: calc(20vw/2);
  background-color: lightyellow;
}
.recipe-center{
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.recipe-right{
  width: calc(20vw/2);
  background-color: lightyellow;
}

.recipe-top{
  width: 100%;
  padding: 30px 100px 10px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.recipe-middle{
  width: 100%;
  padding: 10px 100px;
}

.recipe-bottom{
  width: 100%;
  padding: 10px 50px;
}

/*-----------------------------------------------------------------
レシピ投稿
------------------------------------------------------------------*/
.preview-image{
  height: 200px;
  width:200px;
  object-fit: cover;
  border-radius: 30px;
}