/*-----------------------------------------------------------------
レシピ一覧画面
------------------------------------------------------------------*/
.recipe-index-container{
  background-color: rgba(248, 245, 227, 1);
  height: 2000px;
  width: 100vw;
  display: flex;
  margin-top: 60px;
}
.recipe-index-left{
  width: calc((100vw - 700px)/2);
}
.recipe-index-center{
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.8);
  margin: 30px 0px 30px 0px;
  border-radius: 30px;
}

.recipe-index-right{
  width: calc((100vw - 700px)/2);
}

.recipe-box{
  display: flex;
  height: 200px;
  width: 100%;
  margin : 10px 0;
}

.recipe-box-left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-box-right{
  width: 50%;
  padding-top: 30px;
  padding-right: 5px;
}

.recipe-image{
  height: 200px;
  width:200px;
  object-fit: cover;
  border-radius: 30px;
  filter: brightness(130%);
  filter: saturate(150%);
  filter: opacity(90%);
}
.bold{
  font-weight: 800;
  color: black;
}

/*-----------------------------------------------------------------
レシピ詳細画面
------------------------------------------------------------------*/
.show-recipe-image{
  height: 300px;
  width:80%;
  object-fit: cover;
  border-radius: 40px;
}

.recipe-title{
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
}

.table{
  width: 250px;
}

.text-form-show{
  width: 170px;
  height: 150px;
  border-radius: 5px;
  border: 1px ridge #ccc;
  margin: 10px 20px;
  padding: 10px;
  overflow: scroll;
}

.index-num{
  color: rgb(238, 121, 75);
}

.recipe-method{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.add-favorite{
  text-decoration: none;
}

.button-wrapper{
  display: flex;
  align-items: center;
}

.recipe-edit{
  width: 100px;
  height: 50px;
  background-color: rgb(238, 121, 75);
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
}

.recipe-destroy{
  width: 100px;
  height: 50px;
  background-color: rgb(238, 121, 75);
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

#calender-selection{
  width: auto;
  position: absolute;
}

#calender-selection{
  display: none;
}

.recipe-tip{
  display: flex;
  margin: 50px 0px;
  padding-bottom: 50px;
  border-bottom: grey solid 1px;
}

.recipe-tip-box{
  width: 500px;
  /*border: #74767e 1px solid;*/
  border-radius: 3px;
}

.comment-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.comment-content{
  height: 40px;
  width: 300px;
}

.comment-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*-----------------------------------------------------------------
レシピ詳細とレシピ編集で共有したい部分
------------------------------------------------------------------*/
.background-filler{
  background-color: lightyellow;
  height: 100vh;
}

.recipe-container{
  height: auto;
  width: 100vw;
  display: flex;
  margin-top: 60px;
}

.recipe-left{
  width: 10%;
  background-color: lightyellow;
}
.recipe-center{
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.recipe-right{
  width: 10%;
  background-color: lightyellow;
}

.recipe-top{
  width: 100%;
  padding: 30px 50px 10px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.recipe-middle{
  width: 100%;
  padding: 10px 50px;
}

.recipe-bottom{
  width: 100%;
  padding: 10px 50px;
}

/*-----------------------------------------------------------------
レシピ投稿
------------------------------------------------------------------*/
.recipe-top-left{
  width: 50%;
}

.recipe-top-right{
  width: 50%;
}

#previews{
  height: 298px;
  width: 298px;
  border: 1px solid black;
  border-radius: 30px;
  margin-bottom: 10px;
}
.preview-image{
  height: 300px;
  width:300px;
  object-fit: cover;
  border-radius: 30px;
}
.img-upload{
  padding-left: 50px;
}

.image-label {
  padding: 10px 40px;
  color: #ffffff;
  background-color: #384878;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.recipe-amount{
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.right-justified{
  text-align: right;
  padding-bottom: 0px;
}
.nested-fields{
  display: flex;
  margin-bottom: 5px;
}

.name-form{
  width:190px;
  height: 25px;
  border-radius: 5px;
  border: 1px ridge #ccc;
  margin-right: 5px;

}

.quantity-form{
  width:70px;
  height: 25px;
  border-radius: 5px;
  border: 1px ridge #ccc;
}

.text-form{
  width: 170px;
  height: 150px;
  border-radius: 5px;
  border: 1px ridge #ccc;
}

#descriptions{
  display: flex;
  position: relative;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.add_field{
  position: absolute;
  top: 0px;
  left: 0px;
}