/*=============================
新規登録画面
==============================*/
.header{
  height: 80px;
  background-color: beige;
  display: flex;
  justify-content: space-between;
}

.header-left{
}

.header-right{
  height: 100%;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  background-color: white;
}

.card{
  width: 450px;
  height: 500px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}

.card-header{
  height: 15%;
  border-radius: 30px 30px 0 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0 0;
  background-color: black;
}

.card-header h1{
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-weight: 500;
}
.card-body{
  height: 85%;
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-main{
  height: 50px;
  margin-bottom: 15px;
}

.form-submit{
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary{
  width: 100px;
  margin: 30px auto 0;
}

.field_with_errors {
  display: contents;
}

/*=============================
ログイン画面
==============================*/
.login{
  margin-bottom: 30px;
}

.login-flash-message{
  color: red;
  font-size: 15px;
  margin-bottom: 30px;
  font-weight: 600;
}



/*=============================
エラー画面
==============================*/
.error-message{
  color: red;
  font-size: 12px;
  margin-top: 3px;
  list-style: none;
  font-weight: 600;
}

/*=============================
マイページ
==============================*/
.mypage-container{
  height: auto;
  width: 100vw;
}

.mypage-top{
  display: flex;
  justify-content: center;
  height: 200px;
}